<div class="text-center container">
    <h1 class="text-center text-success">Songs</h1>
    <hr/>
    <a routerLink="/new-song" id="newSongButton" class="btn btn-success my-2 my-sm-0">New Song</a>
    <div class="card-columns">
        <div class="card border-success mb-3" style="width: 18rem;" *ngFor="let song of songs">
            <div class="card-footer">
                <h5 class="card-title">{{song.title}}</h5>
                <p class="card-text">by {{song.artist}}</p>
                <a [routerLink]="['/song', song._id]" class="btn btn-outline-success my-2 my-sm-0">Checkout Song</a>
            </div>
        </div>
    </div>
</div>