<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-success" href="#"><strong>Savant</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a [routerLinkActive]='activeClass' class="nav-link" routerLink='home'>Home</a>
            </li>
            <li class="nav-item ">
                <a [routerLinkActive]='activeClass' class="nav-link" routerLink='songs'>Songs</a>
            </li>
            <li class="nav-item ">
                <a [routerLinkActive]='activeClass' class="nav-link" routerLink='posts'>Posts</a>
            </li>
            <li class="nav-item ">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/profile', userId]">Welcome {{name}}</a>
            </li>
            <li class="nav-item">
                    <app-auth></app-auth> 
                </li>
        </ul>
    </div>
</nav>