<div *ngIf="song" class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div class="card border-success mb-3" style="width: 100%;">
                <div class="card-header">
                    <h1 class="card-title">{{song.title}}</h1>
                    <h4>by {{song.artist}}</h4>
                </div>
                <div class="card-body">
                    <h6 style="white-space: pre-line;">{{song.lyrics}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <h1 class="text-success">Posts</h1>
                </div>
                <div class="col-lg text-right"> <button (click)=toggleForm()
                        class="btn {{buttonStyle}} my-2 my-sm-0">{{formButtonText}}</button>
                </div>
            </div>
            <div *ngIf="status === 'ok'" class="alert alert-success"> Post Submitted Succesfuly!</div>
            <div *ngIf="status === 'fail'" class="alert alert-danger"> Post Submission Failed!</div>


            <div *ngIf="showForm" class="container">
                Post type: <button (click)=toggleFormType()
                    class="btn btn-outline-success my-2 my-sm-0">{{formType}}</button>
            </div>

            <div *ngIf="showForm && textFormDisplay" class="container">
                TEXT
                <form #textForm="ngForm" (ngSubmit)="newTextPost(textForm)" class="was-validated">
                    <div class="form-group">
                        <label for="postTitle">Title:</label>
                        <input type="text" class="form-control" id="postTitle" placeholder="Enter your post's title"
                            name="title" ngModel required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                        <label for="postText">Post:</label>
                        <textarea class="form-control" rows="10" id="postText" placeholder="Enter your post"
                            name="content" ngModel required></textarea>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field</div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

            <div *ngIf="showForm && !textFormDisplay" class="container">
                IMAGE
                <form #imageForm="ngForm" (ngSubmit)="newImagePost(imageForm)" class="was-validated">
                    <div class="form-group">
                        <label for="postTitle">Title:</label>
                        <input type="text" class="form-control" id="postTitle" placeholder="Enter your post's title"
                            name="title" ngModel required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                        <label class="image-upload-container btn btn-bwm">
                            <span>Select Image</span>
                            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <hr />
            <div class="card-columns">
                <div class="card border-success mb-3" style="width: 18rem;" *ngFor="let post of posts">
                    <div class="card-body">
                        <h3 class="card-title"><u>{{post.title}}</u></h3>
                        <div *ngIf="post.user">
                            <h6>Posted by <a [routerLink]="['/profile', post.user._id]" class="text-success">{{post.user.username}}</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>