<div class="container">
    <h1>Make a Post</h1>
    <form #myform="ngForm" (ngSubmit)="newPost(myform)"  class="was-validated">
          <div class="form-group">
            <label for="postText">Post:</label>
            <textarea class="form-control" rows="10" id="postText" placeholder="Enter your post" name="content" ngModel required></textarea>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<div class="row">
    <div class="col-xl-1" *ngIf="song">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1>{{song.title}}</h1>
                <h3>{{song.artist}}</h3>
                <h6>{{song.lyrics}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6" *ngFor="let post of posts">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p>{{post.content.content}}</p>
            </div>
        </div>
    </div>
</div>