<!-- <div class="row">
    <div class="col-sm-6" *ngFor="let song of songs">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{song.title}}</h5>
                <p class="card-text">{{song.artist}}</p>
                <a href="#" class="btn btn-outline-success my-2 my-sm-0">Checkout Song</a>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="song">
    <h1>{{song.title}}</h1>
    <h3>{{song.artist}}</h3>
    <p>{{song.lyrics}}</p>
</div>