<div class="container">
    <h1>Add a New Song</h1>
    <form #myform="ngForm" (ngSubmit)="newSong(myform)"  class="was-validated">
        <div class="form-group">
          <label for="songTitle">Song Title:</label>
          <input type="text" class="form-control" id="songTitle" placeholder="Enter the title of the song" name="title" ngModel required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">Please fill out this field</div>
        </div>
        <div class="form-group">
            <label for="artistName">Artist Name:</label>
            <input type="text" class="form-control" id="songName" placeholder="Enter the name of the artist" name="artist" ngModel required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
          <div class="form-group">
            <label for="songLyrics">Lyrics:</label>
            <textarea class="form-control" rows="5" id="songLyrics" placeholder="Enter the song lyrics" name="lyrics" ngModel required></textarea>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please fill out this field</div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>