<div class="container text-center">
    <!--<h1 class="text-success">Savant</h1>
    <hr/>-->
    <!-- Splash Image -->
    <img class="splash" src="assets/images/headphone_ideas.svg">

    <h2 class="text-success" style="margin-top: 25px;">Recent Posts</h2>
    <div class="card-deck">
            <div *ngFor="let post of posts">
            <div *ngIf="post.content.contentType === 'text'; else imagePost" class="card border-success mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h4>{{post.content.content}}</h4>
                    <a [routerLink]="['/song', post.songId]" class="btn btn-outline-success my-2 my-sm-0">Checkout
                        Song</a>
                </div>
            </div>

            <ng-template #imagePost>
                <img src="{{API_URL}}{{post.content.content}}">
            </ng-template>

        </div>
    </div>
</div>