<div class="container text-center">
    <h1 class="text-success">Posts</h1>
    <hr />
    <div class="card-columns">
        <div class="card border-success mb-3" style="width: 18rem;" *ngFor="let post of posts">
            <div class="card-body">
                <h3 class="card-title"><u>{{post.title}}</u></h3>
                <div *ngIf="post.user">
                    <h6>Posted by <a [routerLink]="['/profile', post.user._id]" class="text-success">{{post.user.username}}</a></h6>
                </div>
            </div>
            <div class="card-footer" *ngIf="post.song">
                    <p class="card-text">{{post.song.title}} by {{post.song.artist}}</p>
                    <a [routerLink]="['/songs', post.songId]" class="btn btn-outline-success my-2 my-sm-0">View Song Page</a>
            </div>
        </div>
    </div>
</div>